@import '../../../App.scss';
.webdoor_button{
    margin-top: 30px;
    font-size: 23px;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 17px 30px;
    transition: $default-transition;
    width: fit-content;
    font-family: $nav-font;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    &:hover{
        background-color: $secondary-color;
        color: $primary-color;
        border: 3px solid transparent;
    }
}