@import '../../../App.scss';
.webdoor_button{
    margin-top: 30px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 30px;
    transition: $default-transition;
    width: fit-content;
    &:hover{
        background-color: $primary-color;
        color: $secondary-color;
        border: 1px solid transparent;
    }
}