@import '../../App.scss';
.webdoor{
	@include center-hv;
	// background-image: url('/img/home-banner.jpg');
	// background-size: cover;
	background-color: #000;
	height: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	position: relative;
	.bg_video{
		position: absolute;
	}
	.webdoor_content{
		display: flex;
		@include center-hv;
		text-align: center;
		font-size: 40px;
		flex-direction: column;
		position: relative;
		z-index: 2;
		height: 100%;
		width: 100%;
		max-width: $container_width;
		.intro_text{
			flex: 0.12;
		}
		.logo{
			position: absolute;
			left: 0;
			top: $vertical-distance;
			height: 130px;
		}
	}
}