@import '../../App.scss';
.webdoor{
	@include center-hv;
	background-image: url('/img/home-banner.jpg');
	background-size: cover;
	height: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	position: relative;
	.overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, .4);
	}
	.webdoor_content{
		display: flex;
		@include center-hv;
		text-align: center;
		font-size: 40px;
		flex-direction: column;
		position: relative;
		z-index: 3;
		height: 100%;
		width: 100%;
		& > div{
			flex: 0.12;
		}
	}
}