@import '../../App.scss';
header {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #fff;
    position: absolute;
    width: 100%;
    max-width: $container_width;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    bottom: $vertical-distance;
}
