@import '../app.scss';
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 240px;
	background-color: #1e1d1d;
	color: #fff;
	position: fixed;
	height: 100%;
	padding: 50px 20px;
	.logo {
		display: block;
		width: 150px;
		img{
			width: 100%;
		}
	}
}
