@import '../app.scss';
nav{
	width: 100%;
	ul{
		list-style: none;
	    font-family: 'Montserrat', sans-serif;
	    li{
	    	display: flex;
	    	@include center-hv;
	    	height: 50px;
	    	transition: all .2s ease;
	    	&:hover,
	    	&.active_link{
	    		background-color: #5a5a5a;
	    	}	
	    	a{
	    		color: #fff;
	    		text-decoration: none;
	    		text-transform: uppercase;
	    		letter-spacing: 1px;
	    		width: 100%;
	    		height: 100%;
	    		display: flex;
	    		@include center-hv;
	    	}
	    }
	}
}