@import '../../App.scss';
.sobre{
    display: flex;
    flex-direction: column;
    @include center-hv;
    padding-bottom: $main-padding;
    p{
        text-align: center;
        width: 700px;
        margin: 0 auto;
    }
}