@import '../../App.scss';
.experiencia{
    display: flex;
    flex-direction: column;
    @include center-hv;
    padding-bottom: $main-padding;
    color: $secondary-color;
    h1{
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 25px;
        font-size: 27px;
        &:not(:first-of-type){
            margin-top: 40px;
        }
    }
    p{
        font-size: 18px;
        line-height: 24px;
    }
}