@mixin center-hv{
	justify-content: center;
	align-items: center;
}
$primary-color: #000;
$secondary-color: #e7e7e7;
$nav-font: 'Oswald', sans-serif;
$body-font: 'Raleway', sans-serif;
$container_width: 1200px;
$vertical_distance: 70px;
$default-transition: all .2s ease;