@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import './app.scss';
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $primary-color;
}
.switch-wrapper{
	width: calc(100% - 240px);
    margin: 0 0 0 auto;
    height: 100vh;
}
.switch-wrapper {
  	position: relative;
}
.switch-wrapper > div {
  	position: absolute;
    width: 100%;
    height: 100%;
}
main{
	height: 100%;
}
