@import '../../App.scss';
nav{
	width: 100%;
	ul{
		list-style: none;
	    font-family: 'Montserrat', sans-serif;
	    li{
	    	display: flex;
	    	@include center-hv;
	    	height: 47px;
	    	transition: $default-transition;
	    	a{
	    		color: #fff;
	    		text-decoration: none;
	    		text-transform: uppercase;
	    		letter-spacing: 1px;
	    		width: 100%;
	    		height: 100%;
	    		display: flex;
	    		@include center-hv;
	    		
    			&:hover,	
    			&.active_link{
	    			background-color: $primary-color;
	    		}	
	    	}
	    }
	}
}