@import '../../App.scss';
.portfolio {
    &>div {
        display: flex;
        flex-direction: column;
        @include center-hv;
        .grid_portfolio {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 280px;
            grid-gap: 15px;
            width: 100%;
            overflow-y: auto;
            // padding-right: 15px;
            & .grid_item {
                background-repeat: no-repeat;
                background-position: center;
                background-color: $secondary-color;
                color: #fff;
                text-decoration: none;
                &:hover .mask {
                    opacity: 1;
                    h2 {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                .mask {
                    transition: $default-transition;
                    opacity: 0;
                    display: flex;
                    @include center-hv;
                    text-align: center;
                    padding: 20px;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    h2 {
                        opacity: 0;
                        transition: all .7s ease;
                        transform: translateY(-15%);
                    }
                }
            }
        }
    }
}